.correct-chess {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0 0 0;
  background-color: #000000;
  background-image: url('../../images/image.png');
  background-repeat: no-repeat;
  background-position: calc(100% + 160px);

  @media screen and (max-width: 1150px) {
    background-position: calc(100% + 390px);
  }

  @media screen and (max-width: 768px) {
    background-size: 520px 520px;
  }

  @media screen and (max-width: 440px) {
    padding: 50px 0 0 0;
    background-size: 120px;
    background-image: url('../../images/image 2.svg');
    background-position-x: calc(100% - 20px);
    background-position-y: 43px;
  }

  &__content {
    padding: 0 160px;
    margin: 0 auto;

    @media screen and (max-width: 890px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 610px) {
      padding: 0 20px;
    }
  }

  &__club {
    max-width: 42px;
    padding: 18px 18px 24px 18px;
    margin: 0;
    font-family: 'Noto Sans';
    color:#FFFFFF;
    background-color: #5036E6;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 14px;
    font-weight: normal;
    text-transform: uppercase;

    @media screen and (max-width: 610px) {
      width: 63px;
      font-size: 12px;
      line-height: 11px;
      padding: 14.5px 14.5px 17px 14px;
    }

  }
  &__title {
    max-width: 500px;
    margin: 0;
    padding: 70px 0 0 0;
    color: #FFFFFF;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 70px;
    line-height: 63px;


    @media screen and (max-width: 650px) {
      padding-top: 60px;
      max-width: 280px;
      font-size: 40px;
      line-height: 36px;
    }
  }
  &__text {
    margin: 0;
    max-width: 500px;
    color: #FFFFFF;
    padding: 40px 0 0 0;
    font-family: 'Noto Sans';
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    @media screen and (max-width: 650px) {
      max-width: 280px;
      padding: 20px 0 0 0;
      font-size: 12px;
      line-height: 16px;
      width: 280px;
    }
  }
  &__image {
    width: 100%;
    max-width: 416px;
    max-height: 104px;
    padding: 182px 0 80px 0;

    @media screen and (max-width: 768px) {
      padding: 212px 0 50px 0;
    }

    @media screen and (max-width: 650px) {
      max-width: 280px;
      max-height: 70px;
      padding: 110px 0 20px 0;
    }
  }
}